html {
  font-family: Montserrat;
  width: 100%;
  /* height: 100%; */
  padding: 0;
  margin: 0;
}

.header {
  display: block;
  text-align: center;
}

.navbar-list {
  display: inline-block;
  margin: 31.5px auto;
}

.navbar-list-item {
  display: inline;
  color: #f00;
  margin: 0 auto ;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  /* line-height: 31.5px; */
  letter-spacing: 3px;
  text-transform: Montserrat;
  margin: 22px;
}

.navbar-item-link {
  color: #f00;
  text-decoration: none;
}


.photo {
  width: 100%;
}


.content-title {
  text-align: center;
  color: #373737;
  margin: 48px 253px 38px;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 3.3px;
  text-transform: Montserrat;
}

.content-text {
  max-width: 1145px;
  margin: 28px auto;
  text-align: center;
  color: #373737;
  font-size: 16px;
  font-style: normal;
  /* font-weight: 400; */
  line-height: 26px;
  letter-spacing: 2.4px;
}
/* .ct2 {
  margin: 28px auto 66px;
} */


.content-btn {
  display: block;
  margin: 66px auto 42px;
  padding: 18px 43px;
  border: none;
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 191px;
  /* line-height: 12px; */
  letter-spacing: 1.8px;
  text-transform: Montserrat;
  border-radius: 4px;
  background: #f00;
}

.footer {
  display: block;
  max-width: 1145px;
  margin: 82px auto 29px;
  text-align: right;
  color: #373737;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  /* line-height: normal; */
  letter-spacing: 2.4px;
}